
.intro-animation{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
        .intro-animation__text{
            color: $second-color;
            font-size: 2.5rem;    
            text-align: center;
            font-family: "Heebo", sans-serif;
            .hide{
                background-color: $main-color;
                overflow: hidden;
                span{
                    transform: translateY(100%);
                    display: inline-block;
                }
            }
            
    }
}
.slider{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $second-color;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateY(100%);
}