#introduction-page{
    width: 100%;
    height: 105vh;
    background-color: $second-color;
    color: $main-color;
    .introduction-page__box, .introduction-page__box--off{
            padding-top: 15vh;
            text-align: center;
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            position: absolute;
            transition: 1s;
        .introduction-page__line{
            width: 20%;
            height: 10px;
            background-color: $main-color;
            margin-left: 40%;
            margin-right: 40%;
        }
        h1{
            font-size: 5.8vh;
            width: 70%;
            margin-left: 15%;
        }
        p{
            font-size: 2.5vh;
        }  
        .introduction-page__list{
            margin-top: 14vh;
            list-style: none;
            display: flex;
            .introduction-page__btn{
                margin-right: auto;
                margin-left: auto;
                transition: 0.75s;
                width:27vh;
                background-color: $main-color;
                height: 7vh;
                padding-top: 4%;

                &:hover{
                    transform: translateY(-15%);
                    box-shadow: 1.2vh 1.2vh 2.5vh black;
                    transition: 0.6s;
                }
            }
            a{
                text-decoration: none;
                color: $second-color;
                font-size: 2.5vh;
                background-color: $main-color;
                padding: 3vh 3vh;
            }
        }
    }
    .introduction-page__box{
            opacity: 1;
    }
    .introduction-page__box--off{
        transform: translateY(20%);
        opacity: 0;
    }
}