#programming-languages{
    height: 105vh;
    width: 100%;
    margin-bottom: 10vh;
    .programming-languages, .programming-languages--off{
        padding-top: 15vh;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        position: absolute;
        transition: 1s;
        &__cards{
            display: flex;
            padding-top: 5vh;
            perspective: 100vh;
            &-box-1, &-box-2, &-box-3 {
                width: 100%;
                height: 100%;
                transition: transform 1s;
                transform-style: preserve-3d;
                position: relative;
                &--front, &--back{
                    position: absolute;
                    width:40vh;
                    height: 60vh;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    overflow: hidden;
                    border: 3px solid $second-color;
                    margin-left: 5vh;
                    cursor:pointer;
                    transition: 0.4s;
                    &:hover{
                        box-shadow: 0px 0px 20px $second-color;
                    }
                    &:hover h2{
                        text-shadow: 0px 0px 10px $second-color;
                    }
                }
                &--front{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h2{
                        color: $second-color;
                        font-size: 3rem;
                        transition: 0.4s;
                    }
                }
                &--back{
                    background-color: $second-color;
                    transform: rotateY(180deg);
                    h3{
                        color: $second-color;
                        margin: 0;
                        font-size: 4vh;
                        margin-bottom: 1vh;
                    }
                    .card__header{
                        background-color: $main-color;
                        padding-top: 5vh;
                        img{
                            width: 10vh;
                            height: 10vh;
                            border-radius: 100%;
                            border: 4px solid $second-color;
                            background-color: white;
                        }
                    }
                    .card__body{
                        p{
                        text-align: center;
                        padding-left: 10%;
                        padding-right: 10%;
                        color: $main-color;
                        font-size: 2vh;
                        }
                    }

                }
        }
        }
        &__line{
            width: 15%;
            height: 10px;
            background-color: $second-color;
            margin-left: 42.5%;
            margin-right: 42.5%;
        }
        h1{
            color: $second-color;
            font-size: 5.8vh;
            width: 70%;
            margin-left: 15%;
        }
    }
    .is-flipped{
        transform: rotateY(180deg);
    }
    .programming-languages--off{
        transform: translateY(20%);
        opacity: 0;
    }
    .programming-languages{
        opacity: 1;
    }
}
