@import "./scss/base/base";
@import "./scss/base/header.scss";
@import "./scss/base/footer.scss";

//Main Page Css

@import "./scss/Main-Page/title-screen.scss";
@import "./scss/Main-Page/introduction-page.scss";
@import "./scss/Main-page/intro-animation.scss";
@import "./scss/Main-Page/programming-languages.scss";
@import "./scss/Main-Page/ambitions-page.scss";
@import "./scss/Main-Page/contact-page.scss";
