body{
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../foto/background.jpg")
    no-repeat;
  background-size: 375vh;
  background-attachment: fixed;
  font-family: "Segoe UI",Arial,sans-serif;
}
html, body{
  padding: 0;
  margin: 0;
}
:root{
  scroll-behavior: smooth;
}
$main-color: #08091c;
$second-color: white;
$third-color: blue;

::-webkit-scrollbar{
  display: none;
}

